{
  "exclude": [
    "**/__pycache__",
    "**/node_modules",
    "**/.venv",
    "**/venv",
    "**/.git",
    "**/site-packages",
    "**/.ipynb_checkpoints"
  ],
  "reportMissingImports": false,
  "reportMissingTypeStubs": false,
  "reportUnknownMemberType": false,
  "reportUnknownArgumentType": false,
  "reportUnknownVariableType": false,
  "reportUnknownParameterType": false,
  "typeCheckingMode": "basic",
  "useLibraryCodeForTypes": false,
  "stubPath": ""
}
