{
  "plugins": {
    "obsidian": {
      "workspaces": [
        {
          "name": "exampleWorkspace1",
          "path": "/path/to/example1"
        },
        {
          "name": "exampleWorkspace2",
          "path": "/path/to/example2"
        }
      ]
    },
  },
  "self": {
    "debug": false,
    "python_environments": [
      {
        "name": "pixel",
        "path": "/Users/tk/anaconda3/envs/pixel/bin/python",
        "comment": "Pixeltable environment"
      },
      {
        "name": "default",
        "path": "/Users/tk/anaconda3/bin/python",
        "comment": "Default anaconda python"
      }
    ],
    "active_python_env": "pixel",
    "workspaces": [
      {
        "name": "ExampleWorkspace1",
        "path": "/path/to/workspace1",
        "comment": "Description of Workspace 1"
      },
      {
        "name": "ExampleWorkspace2",
        "path": "/path/to/workspace2",
        "comment": "Description of Workspace 2"
      }
    ]
  }
}
